$colorLayout: #EEEEEE;
$colorBlack: #2c3e50;

$colorError: #E8465A;
$colorSuccess: #43c446;
$colorWarning: #F4BA16;
$colorInfo: #00C2CC;

$colorDefault: #F7F7F7;
$colorPrimaryDarker: #174C42;
$colorPrimary: #00CCA5;
$colorPrimaryBrighter: #40D4B8;
